.cabecalho{
    background-color: aqua;
}

.principal{
    background-color: cadetblue;
    color: red;
}

.rodape{
    background-color: black;
    color: white;
    text-align: center;
}
#img1{
    width: 400px;
}