.cabecalho{
    background-color: aqua;
}

.principal{
    background-color: cadetblue;
    color: red;
}

.rodape{
    background-color: black;
    color: white;
    text-align: center;
}
#imagem-uruguay{
    width: 400px;
    border: 2px blue double;
}

#link-peru{
    font-size: ;
}